## Part 2: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above

In [1]:
%load_ext sql

#### I choose to operate on a client-server architecture. This principles and codes also apply in a MYSQL workbench.
#### SQL Packages
     pymysql:Allows access the MySQL database server from python
    ipython-sql: The ipython-sql package allows you to write SQL queries into code cells using magic commands.

#### Magic commands

     % inline
     %% Multiple

In [2]:
%sql mysql+pymysql://root:EROR404@127.0.0.1:3306/weatherdata

In [6]:
# %%sql
# CREATE TABLE WEATHER (
#     Temp_C FLOAT,                  
#     Dew_Point_Temp_C FLOAT,        
#     Rel_Hum_Percentage DOUBLE,     
#     Wind_Speed_km_per_h DOUBLE,    
#     Visibility_km DOUBLE,          
#     Press_kPa DOUBLE,              
#     Weather_Condition VARCHAR(255), 
#     Date DATE,                     
#     Time TIME                      
# );

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
0 rows affected.

[]

I can confirm that the table is ceated as you can see below and empty since we have not ingested any data yet. This is a good progress.

In [7]:
%%sql
select * from WEATHER

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
0 rows affected.

[]

Next we want to see which dir sql allows clients to store files that we might want to access without getting any errors and issues. This might be (Error Code: 1290. The MySQL server is running with the --secure-file-priv option so it cannot execute this statement).

After we note what dir it is, that is where we want to store our csv file.

In [11]:
%%sql
select @@secure_file_priv;

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
1 rows affected.

[('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\',)]

In [18]:
# %%sql
# LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/new_weather_data.csv' 
# INTO TABLE WEATHER
# FIELDS TERMINATED BY ','
# IGNORE 1 LINES; #this line ignores the header files and directly pulls the data.

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
8784 rows affected.

[]

In [21]:
%%sql
SELECT * 
FROM WEATHER
limit 25;

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
25 rows affected.

[(-1.8, -3.9, 86.0, 4.0, 8.0, 101.24, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(0)),
 (-1.8, -3.7, 87.0, 4.0, 8.0, 101.24, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=3600)),
 (-1.8, -3.4, 89.0, 7.0, 4.0, 101.26, 'Freezing Drizzle.Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=7200)),
 (-1.5, -3.2, 88.0, 6.0, 4.0, 101.27, 'Freezing Drizzle.Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=10800)),
 (-1.5, -3.3, 88.0, 7.0, 4.8, 101.23, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=14400)),
 (-1.4, -3.3, 87.0, 9.0, 6.4, 101.27, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=18000)),
 (-1.5, -3.1, 89.0, 7.0, 6.4, 101.29, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=21600)),
 (-1.4, -3.6, 85.0, 7.0, 8.0, 101.26, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=25200)),
 (-1.4, -3.6, 85.0, 9.0, 8.0, 101.23, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=28800)),
 (-1.3, -3.1, 88.0, 15.0, 4.0, 101.2, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=32400)),
 (-1.0, -2.3, 91.0, 9.0, 1.2, 101.15, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=36000)),
 (-0.5, -2.1, 89.0, 7.0, 4.0, 100.98, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=39600)),
 (-0.2, -2.0, 88.0, 9.0, 4.8, 100.79, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=43200)),
 (0.2, -1.7, 87.0, 13.0, 4.8, 100.58, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=46800)),
 (0.8, -1.1, 87.0, 20.0, 4.8, 100.31, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=50400)),
 (1.8, -0.4, 85.0, 22.0, 6.4, 100.07, 'Fog', datetime.date(2012, 1, 1), datetime.timedelta(seconds=54000)),
 (2.6, -0.2, 82.0, 13.0, 12.9, 99.93, 'Mostly Cloudy', datetime.date(2012, 1, 1), datetime.timedelta(seconds=57600)),
 (3.0, 0.0, 81.0, 13.0, 16.1, 99.81, 'Cloudy', datetime.date(2012, 1, 1), datetime.timedelta(seconds=61200)),
 (3.8, 1.0, 82.0, 15.0, 12.9, 99.74, 'Rain', datetime.date(2012, 1, 1), datetime.timedelta(seconds=64800)),
 (3.1, 1.3, 88.0, 15.0, 12.9, 99.68, 'Rain', datetime.date(2012, 1, 1), datetime.timedelta(seconds=68400)),
 (3.2, 1.3, 87.0, 19.0, 25.0, 99.5, 'Cloudy', datetime.date(2012, 1, 1), datetime.timedelta(seconds=72000)),
 (4.0, 1.7, 85.0, 20.0, 25.0, 99.39, 'Cloudy', datetime.date(2012, 1, 1), datetime.timedelta(seconds=75600)),
 (4.4, 1.9, 84.0, 24.0, 19.3, 99.32, 'Rain Showers', datetime.date(2012, 1, 1), datetime.timedelta(seconds=79200)),
 (5.3, 2.0, 79.0, 30.0, 25.0, 99.31, 'Cloudy', datetime.date(2012, 1, 1), datetime.timedelta(seconds=82800)),
 (5.2, 1.5, 77.0, 35.0, 25.0, 99.26, 'Rain Showers', datetime.date(2012, 1, 2), datetime.timedelta(0))]

## Lets's answer any four questions

## Question 1
### Find all records where the weather was exactly clear.

In [22]:
%%sql
SELECT *
FROM WEATHER
WHERE Weather_Condition = 'Clear'
limit 10;

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
10 rows affected.

[(-16.9, -24.8, 50.0, 24.0, 25.0, 101.74, 'Clear', datetime.date(2012, 1, 3), datetime.timedelta(seconds=68400)),
 (-7.1, -14.4, 56.0, 11.0, 25.0, 100.71, 'Clear', datetime.date(2012, 1, 5), datetime.timedelta(seconds=64800)),
 (-9.2, -15.4, 61.0, 7.0, 25.0, 100.8, 'Clear', datetime.date(2012, 1, 5), datetime.timedelta(seconds=68400)),
 (-9.8, -15.7, 62.0, 9.0, 25.0, 100.83, 'Clear', datetime.date(2012, 1, 5), datetime.timedelta(seconds=72000)),
 (-9.0, -14.8, 63.0, 13.0, 25.0, 100.83, 'Clear', datetime.date(2012, 1, 5), datetime.timedelta(seconds=75600)),
 (-10.7, -17.8, 56.0, 17.0, 25.0, 101.49, 'Clear', datetime.date(2012, 1, 11), datetime.timedelta(seconds=3600)),
 (-12.0, -18.9, 56.0, 19.0, 25.0, 101.57, 'Clear', datetime.date(2012, 1, 11), datetime.timedelta(seconds=7200)),
 (-12.7, -19.4, 57.0, 19.0, 25.0, 101.64, 'Clear', datetime.date(2012, 1, 11), datetime.timedelta(seconds=10800)),
 (-13.4, -20.1, 57.0, 17.0, 25.0, 101.66, 'Clear', datetime.date(2012, 1, 11), datetime.timedelta(seconds=14400)),
 (-23.3, -28.5, 62.0, 7.0, 24.1, 102.45, 'Clear', datetime.date(2012, 1, 15), datetime.timedelta(seconds=28800))]

## Question 2
### Find the number of times the wind speed was exactly 4 km/hr.

In [25]:
%%sql
SELECT COUNT(*)
FROM WEATHER
WHERE Wind_Speed_km_per_h = 4

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
1 rows affected.

[(474,)]

## Question 3
### Check if there are any NULL values present in the dataset.

In [30]:
%%sql
SELECT 
    SUM(CASE WHEN 'Temp_C' IS NULL THEN 1 ELSE 0 END) AS Temp_C_NULL,
    SUM(CASE WHEN 'Dew Point Temp_' IS NULL THEN 1 ELSE 0 END) AS Dew_Point_Temp_C_NULL,
    SUM(CASE WHEN 'Rel Hum_%' IS NULL THEN 1 ELSE 0 END) AS Rel_Hum__NULL,
    SUM(CASE WHEN 'Wind Speed_km/h' IS NULL THEN 1 ELSE 0 END) AS Wind_Speed_km_h_NULL,
    SUM(CASE WHEN 'Visibility_km' IS NULL THEN 1 ELSE 0 END) AS Visibility_km_NULL,
    SUM(CASE WHEN 'Press_kPa' IS NULL THEN 1 ELSE 0 END) AS Press_kPa_NULL,
    SUM(CASE WHEN 'Weather_Condition' IS NULL THEN 1 ELSE 0 END) AS Weather_Condition_NULL,
    SUM(CASE WHEN 'Date' IS NULL THEN 1 ELSE 0 END) AS Date_NULL,
    SUM(CASE WHEN 'Time' IS NULL THEN 1 ELSE 0 END) AS Time_NULL
FROM WEATHER;

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
1 rows affected.

[(Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'))]

The CASE statement in SQL is a conditional expression that evaluates a list of conditions and returns one of several possible result expressions. It is similar to an IF-THEN-ELSE statement in programming languages.

In the context of the query I provided, the CASE statement is used to check whether each column has NULL values and count them.

## Question 4
### What is the mean visibility of the dataset?

In [31]:
%%sql
SELECT avg(Visibility_km)
FROM WEATHER

 * mysql+pymysql://root:***@127.0.0.1:3306/weatherdata
1 rows affected.

[(27.66444672131151,)]